* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #f4f4f5;
    --brand: #222222;
    --text: #a7a5a5;
    --border: #eae6fd;
    --white: #ffffff;
}

:focus {
    outline: 0;
}

body {
    background-color: #3eb8dd;
    -webkit-font-smoothing: antialiased;
    max-height: 100vh;
    overflow: hidden;
}

body,
input,
textarea,
button {
    font-weight: 400;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    background: transparent;
    border: 0;
}